// Colors:

$dark-gray: #222831;
$lighter-gray: #393E46;
$vibrant-teal: #00ADB5;
$off-white: #F5F5DC;
$blue-cola: #008ddc;
$vibrant-coral: #ff9164;
$soft-mint: #97E8CA;
$elegant-gold: #E5B906;
$classic-cream: #FFFCDE;
$charcoal-gray: #6C6868;
$candy-apple-red: #f50500;
$medium-spring-green: #14ff99;
// Buttons:

$login-register-button: $vibrant-teal;

